<div class="card w-25" style="margin-bottom:15px">
    <div class="card-header font-weight-bold">Child content</div>
    <div class="card-body">@ChildContent</div>
</div>

@code {
    //RenderFragmentChildClass childContent = new RenderFragmentChildClass();

    //public class RenderFragmentChildClass:ComponentBase
    //{
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string type { get; set; }
    public String id { get; set; }
    //}
}